<div class="jumbotron">
<div class="page-header">
<div class="authform">

<h2>Bootcamp Bucks Application Form</h2>
<p>We'd like to know more about you. Please answer the questions below.</p>

<%= simple_form_for @user do |f| %>
  <%= f.input :address, label: 'Address', placeholder: ' 1000 State Street, #204' %>
  <%= f.input :city, label: 'City', placeholder: ' Salt Lake City' %>
  <%= f.input :state, label: 'State', placeholder: ' Utah' %>
  <%= f.input :phone_number, label: 'Phone Number', placeholder: ' (800)555-5555' %>
  <%= f.input :education, label: 'Highest Education Level' %>
  <%= f.input :student_loan_amount, label: 'Do you have any student loans? If so, enter amount?' %>
  <%= f.input :current_company, label: 'Current Company' %>
  <%= f.input :current_job, label: 'Current Job Title?' %>
  <%= f.input :current_salary, label: 'Current Yearly Salary' %>
  <%= f.input :personal_reference_name, label: 'Please provide a personal reference' %>
  <%= f.input :personal_reference_contact, label: 'Email or Phone # of your personal reference' %>
  <%= f.input :current_living_situation, label: 'Select Current Living Situation?' %>
  <%= f.input :credit_score, label: 'Credit Score (from CreditKarma.com)' %>
  <%= f.input :linkedin_profile, label: 'Personal Linkedin Profile Link' %>
  <%= f.input :facebook_profile, label: 'Personal Facebook Link' %>
  <%= f.input :twitter_profile, label: 'Personal Twitter Handle' %>
  <br>
  <%= f.button :submit %>
<% end %>

