<%= simple_form_for(@bootcamp) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :tuition_cost %>
    <%= f.input :down_payment %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :length %>
    <%= f.input :city %>
    <%= f.input :cpi %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
