<h1>Calculate Your Real Cost of Bootcamp</h1>

<%= form_for @real_costs, url: new_real_cost_path, method: :create do |f| %>

  <!-- user selects bootcamp by name from db -->
  <%#= f.collection_select(:name, @bootcamps, :id, :name ) %>
  <%#= f.select(:name, Bootcamp.all, :prompt => "Select a Bootcamp") %>
  <%= f.fields_for :bootcamp do |bootcamp| %>
    <%= bootcamp.select :name, [@bootcamps.each { |x| x.name }] %>
  <% end %>
  <!-- user input for current_salary -->
  <%= f.text_field(:salary) %>
  <%= label_tag(:salary, "What is your current salary?") %>
  <br>
  <br>
  <!-- user input for loan length -->
  <%= f.select :loan_length, [['12 months', false], ['24 months', false], ['36 months', false]] %>
  
  
  <!-- Rest of form omitted -->

<% end %>

<!-- #select bootcamp by name
#receive salary and loan length input
#loan summary total tuition @boot.tuition_cost, down_payment @bootcamp.tuition_cost, 5%, total down payment due @bootcamp.down_payment
#2. real_cost =total_tuition + total_opportunity_costs -->

  