<div class="main">
  <h1>Your REAL cost of attending a Coding Bootcamp</h1>
</div>

<div class="container">

    <span><p>Based on your current salary and the cost of tuition from attending <%= @real_cost.bootcamp_id %>.</p><h3><strong><%= @real_cost.breakeven_time %> </strong>weeks to breakeven.</h3></span>

    <span><p>According to the national average salary, a Jr. Rails Developer makes $67,000 a year.</p><h3>This means a <strong><%= @real_cost.yearly_increase %>% </strong>increase in your yearly salary.</h3></span>
  

      <p>You will owe a down payment (25% of tuition) of: $<%= @real_cost.down_payment %></p>
      <p>Your true cost for attending this bootcamp is: $<%= @real_cost.true_cost %></p>
    <br>
    <p>Your total payment owed if you finance your bootcamp through Bootcamp Bucks is: $<%= @real_cost.total_payment_due %></p>
    <br>
  </div>

  
<hr>
</p>$<%= @real_cost.down_payment %>



<%= @real_cost.inspect %>



