<div class="container">
  <div class="real_cost_header text-center">
    <h2>The Real Cost of <%= @bootcamp.name %></h2>
    
      <h3><strong><%= @real_cost.breakeven_time %> weeks</strong>: Estimated time to breakeven.</h3></span>

      <h3><strong><%= @real_cost.yearly_increase %>%</strong>: Estimated increase in your yearly salary.</h3></span>


      <br>
       <a class="btn btn-primary btn-lg" href="/users/sign_up">Apply for a Loan</a>
      <br> 

      <br>
      <span><p>*NOTE: These caluclations are based on the national average salary for a Jr. Rails Developer $67,000 in the US.</p>



      
  </div>
</div>

<br>

<div class="bottom-part">
  <div class="row">
    <div class="col-xs-4"> 
      <div class="text-center circle green">  
        <i class="fa fa-5x fa-usd"></i>
      </div>
      <h2 class="text-center">$<%= @real_cost.true_cost %></h2>
      <h3 class="text-center green-text">YOUR REAL COST</h3>
      <p class="real_calc_bottom_text">Your real cost of bootcamp is calculated by using your personal opportunity cost considering your current salary and adding that to the tuition of your desired bootcamp.</p>
    </div>
    <div class="col-xs-4 middle"> 
      <div class="text-center circle blue">  
        <i class="fa fa-5x fa-thumbs-down"></i>
      </div>
      <h2 class="text-center">$<%= @real_cost.total_payment_due %></h2>
      <h3 class="text-center blue-text">TOTAL OUT-OF-POCKET</h3>
      <p class="real_calc_bottom_text">Your total out-of-pocket expense is calculated by multiplying your bootcamp tuition by the 5% interest rate if you decide to finance your tuition through Bootcamp Bucks.</p>
    </div>
    <div class="col-xs-4 "> 
       <div class="text-center circle purple">  
        <i class="fa fa-5x fa-money"></i>
      </div>
       <h2 class="text-center">$<%= @real_cost.down_payment %></h2>
       <h3 class="text-center purple-text">YOUR DOWN PAYMENT</h3>
       <p class="real_calc_bottom_text">If you finance your bootcamp tuition through Bootcamp Bucks, a down payment equal to 25% of your tuition is required upfront. Your first monthly payment is due once class is over.</p>
    </div>
  </div> <!-- row -->
</div> <!-- bottom part -->

<hr>

</p>$<%= @real_cost.down_payment %>


<%= @real_cost.inspect %>


  <footer>
      <div class="col">
          <div class="col-lg-1-offset-10">
              <p>Copyright &copy; Bootcamp Bucks 2014</p>
          </div>
      </div>
  </footer>

