
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="nav navbar-nav">
        <li><%= link_to 'Bootcamp Bucks', root_path %></li>
        <li><%= link_to 'Cost Calculator', new_real_cost_path %></li>
      </div> <!-- nav navbar-nav -->
      <div class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <!-- <li><%#= link_to "My Dash", controller: :users, scope: "admin", action: :show, id: current_user.id %></li> -->
          <li><%= link_to "My Dashboard", "/admin/users/#{current_user.id}"%></li>
           <li><%= link_to "Make a Payment", "/admin/users/#{current_user.id}"%></li>
          <li><%= link_to 'Edit account', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
      <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Login', new_user_session_path %></li>
      </div> <!-- nav navbar-nav navbar-right -->
    <% end %>

</nav>
